<h2 mat-dialog-title>Andaman – The Beach Haven</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>Vir Savarkar Airport in Port Blair is the archipelago’s major airport.</p>

  <h3>By Road</h3>
  <p>Numerous state government & private buses ply between Mcleodganj and various cities of north India like Delhi, 
      Chandigarh, Dharamshala, etc. on a regular basis. Passengers can take a bus till Mcleodganj bus stand and 
      then hire a taxi.</p>

  <h3>By Sea</h3>
  <p>Ships ply between Haddo Wharf Port in Port Blair and cities of Chennai, Kolkata, & Visakhapatnam.</p>

  <h3>Attractions</h3>
  <p>Cellular Jail National Memorial, Radhanagar Beach, Rajiv Gandhi Water Sports Complex in Port Blair, Mahatma Gandhi 
      Marine National Park, Chidiya Tapu, and watersports like scuba-diving, snorkeling, & parasailing</p>

  <h3>Water activities</h3>
  <p>Banana boat rides, snorkeling, parasailing, jet-skiing, undersea walking, speed boating, scuba diving, and sportfishing</p>

  <h3>Best time to visit</h3>
  <p>November to mid-May</p>

  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Travel</li>
    <li>$50 - Deluxe Travel</li>
    <li>$75 - Luxury Travel</li>
    <li>$100 - Ultra Ordinary Travel</li>
    <li>$125 - Ultra Deluxe Travel</li>
    <li>$150 - Ultra Luxury Travel</li>
  </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktravel/Andaman" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>