<h2 mat-dialog-title>Shangri-La Hotel - Singapore</h2>
<mat-dialog-content class="mat-typography">

  <h3>About Shangri-La Hotel Singapore</h3>
  <p>Located in Orchard, Shangri-la Hotel Singapore is a perfect starting point from which to explore Singapore. The property features a wide range of facilities to make your stay a pleasant experience. Take advantage of the hotel's 24-hour room service, free Wi-Fi in all rooms, 24-hour front desk, facilities for disabled guests, express check-in/check-out. Guestrooms are fitted with all the amenities you need for a good night's sleep. In some of the rooms, guests can find television LCD/plasma screen, internet access– wireless (complimentary), non smoking rooms, air conditioning, wake-up service. The hotel's peaceful atmosphere extends to its recreational facilities which include hot tub, fitness center, sauna, outdoor pool, spa. No matter what your reasons are for visiting Singapore, Shangri-la Hotel Singapore will make you feel instantly at home.</p>

    <h3>All Amenities</h3>
    <p>Hotel Facilities
	<li>Hotel facilities</li>
	<li>24-hour reception</li>
	<li>24-hour room service</li>
	<li>Airport shuttle</li>
	<li>Beach / Sun umbrellas</li>
	<li>Business centre</li>
	<li>Car park</li>
	<li>Concierge</li>
	<li>Conference rooms</li>
	<li>Deck chairs / Sun loungers</li>
	<li>Direct beach access</li>
	<li>Express check-in / out</li>
	<li>Free WiFi in lobby</li>
	<li>Gym</li>
	<li>Hotel bar</li>
	<li>Laundry service</li>
	<li>Lift</li>
	<li>Non-smoking rooms</li>
	<li>Outdoor swimming pool</li>
	<li>PC with internet</li>
	<li>Pets allowed</li>
	<li>Porter service</li>
	<li>Restaurant</li>
	<li>Room service</li>
	<li>Terrace</li>
	<li>Towels at the pool / beach</li>
	<li>Washing machine</li>
	<li>Wellness centre / Spa</li>
	<li>WiFi in lobby</li>
    </p>
    <p>Room facilities
	<li>Air conditioning</li>
	<li>Bathroom with bathtub</li>
	<li>Bathroom with shower</li>
	<li>Central heating</li>
	<li>Cosmetic mirror</li>
	<li>Desk</li>
	<li>Electric kettle</li>
	<li>Hairdryer</li>
	<li>Internet</li>
	<li>Ironing board</li>
	<li>Room safe</li>
	<li>Telephone</li>
	<li>Television</li>
	<li>WiFi in rooms</li>
    </p>
    <p>Wellness / Spa
	<li>Beauty salon</li>
	<li>Massage</li>
	<li>Sauna</li>
	<li>Steam room</li>
	<li>Whirlpool / Hot tub</li>
    </p>
    <p>Accessibility
	<li>Accessible parking</li>
	<li>Wheelchair accessible</li>
    </p>
    <p>For children
	<li>Child / Baby cot</li>
	<li>Childcare / Babysitting</li>
    </p>
    <p>At Agoda.com the Lowest Booking starts from
	<li>$150 - Ordinary Space per Night</li>
	<li>$200 - Deluxe Space per Night</li>
	<li>$250 - Luxury Space per Night</li>
	<li>$300 - Ultra Ordinary Space per Night</li>
	<li>$350 - Ultra Deluxe Space per Night</li>
	<li>$400 - Ultra Luxury Space per Night</li>
    </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/bookhospitality/Shangri-LaHotel" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>