<div class="jumbo"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="start center" 
    fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="100%">
      <h1 style="font-weight: bold;font-size: x-large;">We ask you, humbly, to help.
        <button mat-raised-button class="button" routerLink="/donationform" >Donate with Love</button>
      </h1>
      <mat-divider></mat-divider>
      <br>
      <p style="font-size: large;">
        We'll get straight to the point: Today we ask you to defend WhiN's independence.
      </p>
      <p style="font-size: large;">
        We're a non-profit that depends on donations to stay online and thriving, but 98% of 
        our users don't give; they simply look the other way. If everyone who utilizes WhiN 
        gave just a little, we could keep WhiN thriving for years to come. The price of a 
        cup of coffee is all we ask.
      </p>
      <p style="font-size: large;">
        When we made WhiN a non-profit, people told us we’d regret it. But if WhiN 
        were to become commercial, it would be a great loss to the world.
      </p>
      <p style="font-size: large;">
        WhiN is a place to know the marvel places, not a place for tourism and Hospitality. 
        The heart and soul of WhiN is a community of people working to bring you unlimited access to reliable, 
        neutral information.
      </p>
      <p style="font-size: large;">
        We know that most people will ignore this message. But if WhiN is useful to you, 
        please consider making a donation of ₹100, ₹200, ₹300 or whatever you can to protect 
        and sustain WhiN.
      </p>
      <p style="font-size: large;">
        Thanks,
      </p>
      <p style="font-size: large; font-weight: bold">
        From WhiN Travel, Tourism & Hospitality
      </p>
    </div>
</div>