<h2 mat-dialog-title>Harmandir Sahib - Punjab, India</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>The closest airport to Amritsar is the international airport near Rajasansi, known as the Sri Guru Ram Dass Jee International 
    Airport. Amritsar airport is about 11 kilometers away from the city centre; which can be covered in approximately 20 minutes 
    by road.</p>

  <h3>By Road</h3>
  <p>Delhi and Chandigarh are also very well connected by road to Amritsar. In fact, it takes only about 6-7 hours to get to Amritsar 
    from Delhi. A host of tourist bus service providers offer package tours to the Golden Temple from most major cities within Punjab 
    and its neighbouring states.</p>

  <h3>By Rail</h3>
  <p>Amritsar Railway Station is located around 1 KM away from Golden Temple so if you travel at the consistent speed of 50 KM per 
    hour you can reach Golden Temple in 0 hours and 1 minutes.</p>

  <h3>Places To Visit In And Near Golden Temple , Amritsar</h3>
  <p>The Golden Temple in Amritsar is the religious soul and pride of the Sikh community of India. Not just Sikhs, the grand temple is
     also one of the most famous spiritual destinations of the Indians and the foreigners as well. It is a famous tourist attraction 
     as it leaves the people from the corners of the country as well as from abroad spellbound by the majestic beauty of the beautiful 
     Golden Temple and its surroundings. The golden body of the main temple (Gurudwara) is the holy worship place and is known for the 
     spectacular beauty it reflects on all sides. Believers irrespective of the religion, caste, and creed are welcome at the Golden 
     Temple in Amritsar, Punjab and are hazed by the immense beauty of the Golden Temple. In addition to the eye-catchy beauty of the 
     premise, the religious shrine also gives out the message of love, care, and humanity to all. So if you have been planning your 
     next trip to Amritsar, Punjab; do not miss out to visit the religious Golden Temple. In addition to the religious and the spiritual 
     enlightenment, you can also pay a visit to some of the places which are located within the premises of the Golden Temple in Amritsar.</p>

  <h3>Best time to visit</h3>
  <p>Depending on your level of religious fervour, any time is a good time of day to visit. If you are the kind who wishes to avoid 
    getting into endless queues, then early morning at 4 AM or late at night are great times to go to the temple.</p>

    <p>At Agoda.com the Lowest Booking per day starts from
      <li>$25 - Ordinary Tour</li>
      <li>$50 - Deluxe Tour</li>
      <li>$75 - Luxury Tour</li>
      <li>$100 - Ultra Ordinary Tour</li>
      <li>$125 - Ultra Deluxe Tour</li>
      <li>$150 - Ultra Luxury Tour</li>
    </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktour/GoldenTemple" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>