.footer {
    background-color: #333333;
    margin: 0px auto;
    padding: 20px;
    color: white;
}

.footer-title{
    background-color: #252525;
    margin: 0px auto;
    padding: 10px;
    color: white;
}

.row-content{
    padding: 20px;
}

.side-list{
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: none;
}

.active {
    color: black;
    background-color: rgb(241, 156, 28) ;
}

.nav{
    padding: 0px 0px 0px;
    font: 20px Arial, Helvetica, sans-serif;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.address{
    padding: 0px 0px 0px;
    font: 20px Arial, Helvetica, sans-serif;
}

img {
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

img:hover {
    transform: translateY(-5px) scale(1.05) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 24px 46px var(--box-shadow-color);
  }
  
  img:hover .overlay {
    transform: scale(4) translateZ(0);
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}