<h2 mat-dialog-title>Coorg – Walk Amidst The Coffee Plantations</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>The closest household air terminal is in Mangalore, 156 km away. The closest worldwide air terminal is 
      the Kempegowda International Airport in Bengaluru, 285 kilometers away.</p>

  <h3>By Rail</h3>
  <p>Mysore Junction, 106 km away, is the closest rail head</p>

  <h3>By Road</h3>
  <p>The 238 km long road trip from Bangalore (Bengaluru) takes 5 hours 30 minutes.</p>

  <h3>Attractions</h3>
  <p>Abbey Falls, Nalknad Palace, Barapole River, Brahmagiri Peak, Iruppu Falls, Namdroling Monastery, 
      Nagarhole National Park, Microlight trip at Chelavara, ziplining, and calculating in River Kaveri</p>

  <h3>Best time to visit</h3>
  <p>October to March</p>

  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Travel</li>
    <li>$50 - Deluxe Travel</li>
    <li>$75 - Luxury Travel</li>
    <li>$100 - Ultra Ordinary Travel</li>
    <li>$125 - Ultra Deluxe Travel</li>
    <li>$150 - Ultra Luxury Travel</li>
  </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktravel/Coorg" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>