<h2 mat-dialog-title>The Golden City: Jaisalmer - Rajasthan, India</h2>
<mat-dialog-content class="mat-typography">

  <h3>History</h3>
  <p>Jaisalmer is a former medieval trading center and a princely state in the western Indian state of Rajasthan, in the heart of the 
      Thar Desert. Known as the "Golden City," it's distinguished by its yellow sandstone architecture. Dominating the skyline is 
      Jaisalmer Fort, a sprawling hilltop citadel buttressed by 99 bastions. Behind its massive walls stand the ornate Maharaja's 
      Palace and intricately carved Jain temples. </p>

  <h3>How to Reach Jaisalmer</h3>
  <p>
      <li>
        <b>By Air :</b> Jaisalmer is not directly connected by air with any part of India. Jodhpur Airport, located some 300 km away 
        from Jaisalmer, is the nearest airport to the desert land. The airport connects Rajasthan with all major Indian cities. From 
        Jodhpur Airport, tourists can hire cabs to reach Jaisalmer.
      </li>
      <li>
        <b>By Train :</b> Jaisalmer is served by both broad gauge and metre gauge railway tracks. Direct trains from Delhi, Jaipur and 
        Jodhpur can be availed to reach Jaisalmer. The luxury train 'Palace on Wheels' can also be availed to reach Jaisalmer. On 
        reaching the station, visitors can avail auto rickshaws and private taxis to reach to their respective destinations at nominal 
        fares.
      </li>
      <li>
        <b>By Road</b>
        Jaisalmer serves rest of India by well maintained network of roadways. Deluxe and ordinary buses of Rajasthan Roadways as well 
        as many private operates connects Jaisalmer with Jodhpur, Jaipur, Bikaner, Barmer, Mount Abu, Ahemdabad etc. From the bus 
        terminus, passengers can avail local means of transport to reach their respective hotels or attractions.
      </li>
  </p>
  <h3>Best Time to Visit Jaisalmer</h3>
  <p>Depending on what you want to do and what is your travel budget, here’s a monthly breakup of Jaisalmer’s climatic conditions so 
      that you can easily plan when to go:
      <li>
        <b>November to March:</b> These months constitute the winter season in Jaisalmer. It is also an ideal time to visit Jaisalmer. 
        Sightseeing and other outdoor activities like camel ride, desert safari are more enjoyable during this time as the maximum 
        temperature does not go beyond 24 degree Celsius. Evenings are cooler and at night, the temperature can further drop down to 
        7 or 8 degree Celsius in the desert area, especially in the months of December and January.
      </li>
      <li>
        <b>April to August:</b> These months are the hottest in the year as they constitute the summer season. Temperatures can vary 
        from 42 to 25 degree Celsius during this time. Afternoons can be quite hot for sightseeing and other tourist activities. Make 
        sure you carry a strong sunscreen and wear light cotton clothes, if travelling during summers. An off-season, this time allows 
        budget travellers to make the most of the attractive deals offered by the many hotels in Jaisalmer.
      </li>
      <li>
        <b>September to October</b>
        Although these months constitute the monsoon period in Jaisalmer, very little rain is observed in this area. The rainfall is 
        low and on some days, there will be no rainfall. The little amount of rainfall increases humidity in the overall weather of 
        Jaisalmer. However, October witnesses pleasant weather when evenings become cooler. Also, it is during this month, the tourist 
        season starts and the city might get crowded.
      </li>
  </p>

  <h3>Traveller Information</h3>
  <p>
      <li>
        Jaisalmer means the Hill Fort of Jaisal. Jaisalmer is sometimes called the "Golden City of India" because the 
        yellow sandstone used throughout the architecture of both the fort and the town below, imbues both with a certain 
        golden-yellow light.
      </li>
      <li>
        Fee - The entry fee for visiting Jaisalmer Fort is Rs 50 per person for Indians and Rs 250 per person for foreigners. 
        There are camera photograph fee Rs 50 and for video camera fee Rs 100.
      </li>
  </p>

  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Tour</li>
    <li>$50 - Deluxe Tour</li>
    <li>$75 - Luxury Tour</li>
    <li>$100 - Ultra Ordinary Tour</li>
    <li>$125 - Ultra Deluxe Tour</li>
    <li>$150 - Ultra Luxury Tour</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktour/Jaisalmer" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>