<h2 mat-dialog-title>Mecca Masjid - Hyderabad, India</h2>
<mat-dialog-content class="mat-typography">

  <h3>History</h3>
  <p>The aura and sanctity that one gets to feel near Mecca Masjid Hyderabad is simply incomparable. Founded by Muhammad Quli Qutub Shah, 
      the fifth ruler of Qutub Shahi dynasty, it is one of the biggest and the oldest mosques in South India. It is said that he himself 
      laid the foundation stone and the bricks used to construct the central arch of the mosque have been made from soil sourced from 
      Mecca. This is the reason behind the mosque getting its name as Mecca Masjid. It has the capacity to accommodate 10,000 worshippers 
      to offer prayers at a time. About 8000 workers were involved in the construction of this mosque that draws hundreds of tourists 
      from all across the globe, not just for its historical or religious importance but also for its spectacular beauty. A few common 
      sights at this sacred place include feeding of pigeons considered to be a virtue in the Muslim community and devotees sitting by 
      the side of an artificial pond installed in the mosque. As per a legend, whoever sits on the two stones and slab benches beside 
      the pond always comes back to sit on them again. </p>

  <h3>How to Reach Mecca Masjid</h3>
  <p>
    Mecca Masjid is located adjacent to Charminar in the heart of old city and is easily accessible by road from various parts of Hyderabad.
  </p>
  <h3>Heritage in Hyderabad | Mecca Masjid</h3>
  <p>
      <li>
        <b>WHERE TO STAY: </b> Telangana Tourism operates Plaza Hotel in Begumpet, Located at distance of 13.5kms from Mecca Masjid is a 
        comfortable stay. The Plaza hotel here is ideal for tourists visiting destinations in and around Hyderabad. There are standard and 
        deluxe A/C rooms and the interiors are world-class, designed aesthetically to attract tourists. The rooms of the hotel are 
        well-maintained, the environs look pleasing and this hotel is built in signature style in the midst of the city. There is also 
        an attached restaurant here offering quality food for the visitors at specified timings. A prominent hotel of Telangana tourism, 
        Plaza Hotel has well-laid tiles while the woodwork of suites indicate world-class construction, thereby creating a landmark hotel 
        of the tourism department. Haritha Taramathi baradari resort is located at a distance of 12.4kms from Mecca Masjid ,is an 
        attractive destination in Hyderabad. The resort has an Open Air Auditorium, which is ideal for corporate gatherings and private 
        events. It also has an Air Cooled Theatre and Banquet Hall that are a perfect fit for special events, conferences and exhibitions. 
        It comes with an attached pantry, a multi – cuisine A/C restaurant and a 50 PAX A/c Bar(saqi) for spending some quality time. The 
        resort also has a souvenir shop and swimming pool that comes with a modern health club with best facilities for fitness and leisure. 
        There are A/C suites and A/C rooms that can be an ideal way to enjoy luxury in the vicinity of a prominent monument. Spending time 
        close to a heritage destination with best accommodation and quality food, with all trappings of a resort has never been this 
        wonderful!
      </li>
      <li>
        <b>SHOPPING: </b> Tourists can enjoy unlimited shopping close to Mecca Masjid. Laad Bazaar is a very old market, located on one 
        of the four major thoroughfares emerging from the historic Charminar. Laad Bazaar is a major market for bangles, semi-precious 
        stones, pearls, jewellery, silverware, bidri ware, saris lacquer bangles studded with stones etc.
      </li>
      <li>
        <b>WHERE TO EAT: </b>
        Close to Mecca Masjid, tourists have numerous options for food right from delicious eateries, fast foods, fresh fruit juices, 
        dry fruit shops, Ice candies, Irani Chai, Biryani to small and large restaurants.
      </li>
  </p>

  <h3>Traveller Information</h3>
  <p>
      <li>
        <b>Note: Entry of non-Muslims restricted</b>
      </li>
      <li>
        <b>Entry Fee Free</b>
      </li>
      <li>
        <b>Timings: All days of the week</b>
            4:00 AM – 9:30 PM
      </li>
      <li>
        <b>Contact Information</b>
            Phone number - 040 6674 5986
      </li>
  </p>

  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Tour</li>
    <li>$50 - Deluxe Tour</li>
    <li>$75 - Luxury Tour</li>
    <li>$100 - Ultra Ordinary Tour</li>
    <li>$125 - Ultra Deluxe Tour</li>
    <li>$150 - Ultra Luxury Tour</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktour/MeccaMasjid" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>