<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column" style="background-image: url(../assets/images/hb.webp); background-repeat: no-repeat; background-size: 100% 105%;">
  <div style="padding: 10px;">
      <div fxLayout="column" fxLayoutAlign="center center" class="login-card">
        <mat-card class="example-card">
          <mat-toolbar class="title" color="primary">
            <i class="material-icons">book_online</i>
            Hospitality Booking 
          </mat-toolbar>
          <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">location_on</span></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Hospitality</mat-label>
                    <input matInput type="text" [formControl]="registerData.place" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><i class="fa fa-user-circle" aria-hidden="true"></i></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" required minlength="3" onkeypress="return (event.charCode > 64 && 
                  event.charCode < 91) || (event.charCode == 32) || (event.charCode > 96 && event.charCode < 123)" [formControl]="registerData.name" placeholder="Name" readonly>
                      <!-- <mat-error *ngIf="registerData.name.invalid">{{getMessageName()}}</mat-error> -->
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">phone</span></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Phone Number</mat-label>
                    <input matInput type="number" pattern=".{10}" [formControl]="registerData.phone" placeholder="Phone Number" required>
                    <mat-error *ngIf="registerData.phone.invalid">{{getMessagePhone()}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">email</span></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Email</mat-label>
                      <input matInput type="email" pattern="[a-z0-9._%+-]+@[a-z]+\.[a-z]{2,}$" [formControl]="registerData.email" placeholder="Email" required>
                      <mat-error *ngIf="registerData.email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">date_range</span></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Date of Arrival</mat-label>
                    <input matInput type="date" [formControl]="registerData.doa" placeholder="Arrival Date" required>
                    <mat-error *ngIf="registerData.doa.invalid">{{getMessageDoa()}}</mat-error>
                    </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><span class="material-icons">date_range</span></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Date of Depature</mat-label>
                    <input matInput type="date" [formControl]="registerData.dod" placeholder="Depature Date" required>
                    <mat-error *ngIf="registerData.dod.invalid">{{getMessageDod()}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon><i class="fa fa-user-circle" aria-hidden="true"></i></mat-icon>
                <mat-form-field class="example">
                  <mat-label>Living Place</mat-label>
                    <input matInput type="text" required minlength="3" [formControl]="registerData.lplace" placeholder="Living Place" required>
                      <mat-error *ngIf="registerData.lplace.invalid">{{getMessageLplace()}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <p>Please scan the QR Code to Pay the Money.</p>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" fxLayout.sm="column" fxLayout.xs="column">
              <img src="../assets/images/donateQRCode.webp" style="height: 200px">
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon>
                <span class="material-icons">monetization_on</span>
              </mat-icon>
              <mat-form-field class="example">
              <mat-label>Price for the Type of Room</mat-label>
              <mat-select [formControl]="registerData.money">
                <mat-option value="150">$150 - Ordinary Space</mat-option>
                <mat-option value="200">$200 - Deluxe Space</mat-option>
                <mat-option value="250">$250 - Luxury Space</mat-option>
                <mat-option value="300">$300 - Ultra Ordinary Space</mat-option>
                <mat-option value="350">$350 - Ultra Deluxe Space</mat-option>
                <mat-option value="400">$400 - Ultra Luxury Space</mat-option>
                <mat-error *ngIf="registerData.money.invalid"></mat-error>
              </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="registerUser()" [disabled]="registerData.phone.invalid || registerData.email.invalid || registerData.name.invalid|| registerData.lplace.invalid || registerData.doa.invalid || registerData.dod.invalid || registerData.money.invalid" class="example-button">Book My Space</button>
              </div>
        </mat-card>
      </div>
    </div>
  </div>
