<h2 mat-dialog-title>Amer Fort - Jaipur, India</h2>
<mat-dialog-content class="mat-typography">

  <h3>History</h3>
  <p>Amber Fort is a part of UNESCO World Heritage sites. The fort and the town gets its name from Goddess Ambe, the prime deity of the 
      Meena dynasty. It is a place that should be a must-visit for every Indian and for every art lover as it is full of artistic marvels, 
      be it paintings, carvings, architecture and so on. The Amber Fort Palace has four levels, each having a courtyard. The main complexes 
      within the fort are Diwan-i-Aam, a hall meant for public, Diwan-i-Khas, a hall for private audience, the splendid Sheesh Mahal or 
      the Mirror Palace, Jai Mandir and the Sukh Niwas, a complex that had natural air conditioning and this could happen because of the 
      wind that blew across a water area built within. It is definitely a sign of creativity and wisdom of the time! It was mainly used 
      for residence purposes by the royal families, as opposed to Jaigarh Fort, which was more of a defence and armoury location. A popular 
      attraction is a carving known as ‘magic flower’ which is carved on a marble panel on a pillar in the Sheesh Mahal. Seven beautiful 
      designs are carved on it including a lotus, lion’s tail, scorpion, hooded cobra, fish tail, cob or corn and an elephant trunk. You 
      will have to cover the panel partially with your hands to view each of the design. An artistic marvel, really! One of the main 
      attractions at Amer Fort is the Sheesh Mahal which has mirror mosaics and coloured glasses all over. Even if a single candle is 
      lit, its reflections in the thousands of mirrors inside the Sheesh Mahal make it appear like thousand stars. A visual delight! </p>

  <h3>How to Reach Amer Fort</h3>
  <p>
    Buses, auto-rickshaws, taxis or cars are available from Jaipur. You can board public buses to Amer town from Ajmeri Gate and MI Road. 
    The fort is perched on a hill, so to reach there, you can either walk or take an elephant ride. Experience the thrill and joy of an 
    elephant ride at the fort.
  </p>
  <h3>Amer Fort Information</h3>
  <p>
      <li>
        <b>Attractions: </b> Temples such as Narshingh Temple, Jagat Shiromani Temple, Panna Mian ki Baodi at the foothills Anokhi Museum of Handprinting
        Jantar Mantar, Jaigarh Fort, Nahargarh Fort, Hawa Mahal, Turban Museum.
      </li>
      <li>
        <b>WHERE TO EAT: </b>
            Surabhi Restaurant, 1135 AD within the fort premises, The Stag Rooftop Restaurant opposite the fort, Madhuras Restaurant,
            Jal Mahal Restaurant, Orange Blossom.
      </li>
  </p>

  <h3>Traveller Information</h3>
  <p>
      <li>
        <b>Entry Fee: Rs.25 Per Person for Indians and Rs.200 Per Person for Foreign Tourists</b>
      </li>
      <li>
        <b>Timings: All days of the week</b>
            10 AM – 5 PM (Daily)
      </li>
  </p>
  
  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Tour</li>
    <li>$50 - Deluxe Tour</li>
    <li>$75 - Luxury Tour</li>
    <li>$100 - Ultra Ordinary Tour</li>
    <li>$125 - Ultra Deluxe Tour</li>
    <li>$150 - Ultra Luxury Tour</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktour/AmerFort" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>