<h2 mat-dialog-title>Marriott International - Bethesda, Maryland</h2>
<mat-dialog-content class="mat-typography">

  <h3>About Marriott International</h3>
  <p>Offering awesome views over the Tête d'Or Park, this four star hotel features modern accommodation and upscale amenities.  The main Lyon Saint Exupery airport is 18.6 miles away.
Contemporary rooms feature private marble bathrooms with bathrobes and slippers. Conveniences include an MP3 with radio, coffee-maker and flat screen TV. Upscale rooms offer private balconies and lounge access.<br>The executive Lounge features wireless Internet access at Marriott Lyon Cité Internationale, a theatre-style venue can accommodate up to 600 guests, or unwind after a long day in the fully-fitted fitness centre.<br>Start the day off with a buffet breakfast at Marriott Lyon Cité Internationale, then enjoy Italian food at the on-site restaurant, Zucca. The outdoor terrace serves drinks with beautiful views of the River Rhone.<br>Relax at Parc de la Tête d'Or, a popular park with locals and visitors, then pop in to the zoo, or  stroll down to the Musée d'art Contemporain de Lyon, three minutes away.</p>

    <h3>All Amenities</h3>
    <p>Hotel Facilities
	<li>Hotel facilities</li>
	<li>24-hour reception</li>
	<li>24-hour room service</li>
	<li>Airport shuttle</li>
	<li>Beach / Sun umbrellas</li>
	<li>Business centre</li>
	<li>Car park</li>
	<li>Concierge</li>
	<li>Conference rooms</li>
	<li>Deck chairs / Sun loungers</li>
	<li>Direct beach access</li>
	<li>Express check-in / out</li>
	<li>Free WiFi in lobby</li>
	<li>Gym</li>
	<li>Hotel bar</li>
	<li>Laundry service</li>
	<li>Lift</li>
	<li>Non-smoking rooms</li>
	<li>Outdoor swimming pool</li>
	<li>PC with internet</li>
	<li>Pets allowed</li>
	<li>Porter service</li>
	<li>Restaurant</li>
	<li>Room service</li>
	<li>Terrace</li>
	<li>Towels at the pool / beach</li>
	<li>Washing machine</li>
	<li>Wellness centre / Spa</li>
	<li>WiFi in lobby</li>
    </p>
    <p>Room facilities
	<li>Air conditioning</li>
	<li>Bathroom with bathtub</li>
	<li>Bathroom with shower</li>
	<li>Central heating</li>
	<li>Cosmetic mirror</li>
	<li>Desk</li>
	<li>Electric kettle</li>
	<li>Hairdryer</li>
	<li>Internet</li>
	<li>Ironing board</li>
	<li>Room safe</li>
	<li>Telephone</li>
	<li>Television</li>
	<li>WiFi in rooms</li>
    </p>
    <p>Wellness / Spa
	<li>Beauty salon</li>
	<li>Massage</li>
	<li>Sauna</li>
	<li>Steam room</li>
	<li>Whirlpool / Hot tub</li>
    </p>
    <p>Accessibility
	<li>Accessible parking</li>
	<li>Wheelchair accessible</li>
    </p>
    <p>For children
	<li>Child / Baby cot</li>
	<li>Childcare / Babysitting</li>
    </p>
    <p>At Agoda.com the Lowest Booking starts from
	<li>$150 - Ordinary Space per Night</li>
	<li>$200 - Deluxe Space per Night</li>
	<li>$250 - Luxury Space per Night</li>
	<li>$300 - Ultra Ordinary Space per Night</li>
	<li>$350 - Ultra Deluxe Space per Night</li>
	<li>$400 - Ultra Luxury Space per Night</li>
    </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/bookhospitality/MarriottInternational" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>