<h2 mat-dialog-title>Periyar National Park - Madurai, India</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>The Madurai Airport; at a distance of 140km, is the nearest airport to reach Periyar National Park. After this, the Cochin 
      International Airport; at a distance of 200km, can be ideal destination to make it to the Periyar National Park in 
      Kerala.</p>

  <h3>By Road</h3>
  <p>Kumily serves as the nearest point or town to the park. The town is well-connected with Kottayam with an ample of private and 
      regional buses. One can also hire taxis or cabs from Kottayam to reach Periyar National Park.</p>

  <h3>By Rail</h3>
  <p>Kottayam Railway Station; located at a distance of around 114km, serves as the nearest railway station to reach Periyar 
      National Park. Following arrival in Kottayam, visitors can either opt for regular buses or hire independent cabs or taxis 
      to reach the park.</p>

  <h3>PERIYAR NATIONAL PARK, THEKKADY</h3>
  <p>If you want to enjoy an encounter with the majestic Bengal Tigers or the massive Mammoths during your Kerala trip, you must visit the 
      wildlife abode called the Periyar National Park. Located in the Idukki district of God’s Own Country, this wildlife protected 
      reserves is among the most stunning and diverse wildlife sanctuaries in Kerala; and also throughout the country. Sprawling over 
      an area of 925sq.km, Periyar National Park; also called Periyar Wildlife Sanctuary, is nestled amidst the fascinating Cardamom 
      Hills and Pandalam Hills of the great Western Ghats. Owing to its scenic location and evergreen ambience, it has become an ideal 
      home to a large number of rare and endangered wildlife species. With the Periyar Lake flowing through the park, visitors can 
      indulge in boat cruises across the lake and enjoy the wondrous beauty of Periyar National Park and its dwellers. Also, as the 
      park comprises of vast expanses of tropical grasslands and moist deciduous forests, it also attracts a large number of bird 
      species, herbivorous mammals, reptiles, and other exotic wildlife species. On a visit to the Periyar National Park, visitors 
      can easily spot the Bengal Tigers, White Tigers, Indian Elephants, Gaur, Sambar, Nilgiri Tahr, Salim Ali’s Fruit Bat, Sloth Bear, 
      and numerous other species. The park also boasts of its avifauna species like Nilgiri Wood Pigeon, Malabar Grey Hornbill, Black Baza, 
      Nilgiri Flycatcher, Sri Lankan Frogmouth, Black-Necked Stork, and lot more.</p>

  <h3>Best time to visit</h3>
  <p>Periyar National Park blooms at its best during the months of October to June. During this period of the year, visitors can spot 
      a large number of predators, mammals, migratory birds, and other dwellers of the park. It is also one of the best times to indulge 
      in nature or wildlife photography in Periyar National Park.</p>

    <h3>Safari Timings in Periyar National Park</h3>
    <p>
        <b>30 - Minutes Boat Cruises:</b>
            <li>07:25AM</li>
            <li>09:15AM</li>
            <li>11:15AM</li>
            <li>01:30PM</li>
            <li>04:00PM</li>
        <b>Jeep Safaris:</b>
            <li>Full Day Safari: Till 03:00PM</li>
            <li>Night Safaris: 11:00PM to 03:00AM</li>
        <b>30 - Minutes Elephant Safari:</b>
            <li>Between 06:00AM to 05:00PM</li>
    </p>

    <p>At Agoda.com the Lowest Booking per day starts from
        <li>$25 - Ordinary Tour</li>
        <li>$50 - Deluxe Tour</li>
        <li>$75 - Luxury Tour</li>
        <li>$100 - Ultra Ordinary Tour</li>
        <li>$125 - Ultra Deluxe Tour</li>
        <li>$150 - Ultra Luxury Tour</li>
      </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktour/PeriyarNationalPark" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>