<h2 mat-dialog-title>InterContinental Marine Drive - Mumbai, India</h2>
<mat-dialog-content class="mat-typography">

  <h3>About InterContinental Marine Drive, Mumbai</h3>
  <p>Commanding a sweeping view of the Arabian Sea in India's commercial capital, The InterContinental Marine Drive is setting standards for personalised service for business and leisure travellers. The experience begins as Mumbai's glittering skyline, aptly called the Queen's Necklace welcomes you. Step into the InterContinental Marine Drive and the warm, personalised attention helps you relax. The InterContinental Marine Drive is strategically located in the heart of Mumbai's business & financial district, 1.5 kms from Nariman Point and 3 kms from the Main Shopping Area of Colaba.<br>Offering you the all-important luxury of saving time while on work. State-of-the-art business communication and meeting facilities further optimize time management.</p>

    <h3>All Amenities</h3>
    <p>Hotel Facilities
	<li>Hotel facilities</li>
	<li>24-hour reception</li>
	<li>24-hour room service</li>
	<li>Airport shuttle</li>
	<li>Beach / Sun umbrellas</li>
	<li>Business centre</li>
	<li>Car park</li>
	<li>Concierge</li>
	<li>Conference rooms</li>
	<li>Deck chairs / Sun loungers</li>
	<li>Direct beach access</li>
	<li>Express check-in / out</li>
	<li>Free WiFi in lobby</li>
	<li>Gym</li>
	<li>Hotel bar</li>
	<li>Laundry service</li>
	<li>Lift</li>
	<li>Non-smoking rooms</li>
	<li>Outdoor swimming pool</li>
	<li>PC with internet</li>
	<li>Pets allowed</li>
	<li>Porter service</li>
	<li>Restaurant</li>
	<li>Room service</li>
	<li>Terrace</li>
	<li>Towels at the pool / beach</li>
	<li>Washing machine</li>
	<li>Wellness centre / Spa</li>
	<li>WiFi in lobby</li>
    </p>
    <p>Room facilities
	<li>Air conditioning</li>
	<li>Bathroom with bathtub</li>
	<li>Bathroom with shower</li>
	<li>Central heating</li>
	<li>Cosmetic mirror</li>
	<li>Desk</li>
	<li>Electric kettle</li>
	<li>Hairdryer</li>
	<li>Internet</li>
	<li>Ironing board</li>
	<li>Room safe</li>
	<li>Telephone</li>
	<li>Television</li>
	<li>WiFi in rooms</li>
    </p>
    <p>Wellness / Spa
	<li>Beauty salon</li>
	<li>Massage</li>
	<li>Sauna</li>
	<li>Steam room</li>
	<li>Whirlpool / Hot tub</li>
    </p>
    <p>Accessibility
	<li>Accessible parking</li>
	<li>Wheelchair accessible</li>
    </p>
    <p>For children
	<li>Child / Baby cot</li>
	<li>Childcare / Babysitting</li>
    </p>
    <p>At Agoda.com the Lowest Booking starts from
	<li>$150 - Ordinary Space per Night</li>
	<li>$200 - Deluxe Space per Night</li>
	<li>$250 - Luxury Space per Night</li>
	<li>$300 - Ultra Ordinary Space per Night</li>
	<li>$350 - Ultra Deluxe Space per Night</li>
	<li>$400 - Ultra Luxury Space per Night</li>
    </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/bookhospitality/InterContinentalMarineDrive" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>