<h2 mat-dialog-title>Mumbai: The Gateway of India - Explore The Realms Of Wildlife</h2>
<mat-dialog-content class="mat-typography">

  <h3>History</h3>
  <p>One of the most prestigious, historical and eye - catching attraction of Mumbai, Gateway of India, was built in the year 1924 to 
      commemorate the visit of King George V and Queen Mary to Mumbai. Located on the waterfront in Apollo Bunder area overlooking the 
      Arabian Sea, Gateway of India serves as an excellent sightseeing spot in the city. Its architecture gives a deeper insight into 
      Islamic styles of 16th century Gujarat. Be it early morning or late night, Gateway of India remains bustling and lively with 
      locals and tourists every time.</p>

  <h3>How to Reach Gateway of India</h3>
  <p>
      <li>
        <b>By Air :</b> Mumbai is well connected via air and so the Gateway of India. 
        There are three airports in Mumbai - Mumbai International Airport, Chhatrapati Shivaji Airport and Santa Cruz Domestic Airport. 
        You can land any airport which benefits you and from there you can get a cab to the Gateway of India.
      </li>
      <li>
        <b>By Train :</b> Trains from the Central, East and West India arrive at the Chhatrapati Shivaji Junction. North India trains arrive 
        at Mumbai Central Station. No matter from which part of India you are coming, you can board on these two stations which will 
        take you to the Gateway of India.
      </li>
      <li>
        <b>Best Time to Visit Gateway of India</b>
            You can visit here anytime in the year. But the time between November to March is best to experience the environment here. 
            In this period of time weather remains almost pleasant.
      </li>
  </p>
  <h3>Traveller Information</h3>
  <p>
      <li>
        Famous For History, Photography, Seeking Experience
      </li>
      <li>
        Fee - No Entry Fee
      </li>
      <li>
        Visiting Time - 7:00 AM to 5:30 PM on all days of the week
      </li>
      <li>
        Duration of Visit: 1 - 2 Hours
      </li>
  </p>

  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Tour</li>
    <li>$50 - Deluxe Tour</li>
    <li>$75 - Luxury Tour</li>
    <li>$100 - Ultra Ordinary Tour</li>
    <li>$125 - Ultra Deluxe Tour</li>
    <li>$150 - Ultra Luxury Tour</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktour/GateWayofIndia" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>