<h2 mat-dialog-title> Srinagar – The Gem of Kashmir</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>Srinagar has its own airport.</p>

  <h3>By Rail</h3>
  <p>The Srinagar Railway Station is under construction. Till then, passengers can take a train to Udhampur Railway 
      Station(229 km from Srinagar)</p>

  <h3>By Road</h3>
  <p>Unless you are traveling from a city of Jammu & Kashmir, road is not a preferred way to reach Srinagar.</p>

  <h3>By Sea</h3>
  <p>NO WAY BY SEA!</p>

  <h3>Famous Lakes In Srinagar</h3>
  <p>Nagin lake, Dal lake</p>

  <h3>Restaurants In Srinagar</h3>
  <p>Mughal Darbar, Cafe De Linz</p>

  <h3>Attractions</h3>
  <p>Dal Lake (boating in shikaras & nightstays in houseboats), Nishat Bagh, Shalimar Bagh, Tomb of Zin-ul-Abidin, 
      Jama Masjid, Hazratbal Mosque, and Shankaracharya Hill</p>

  <h3>Best time to visit</h3>
  <p>April to October</p>
  
  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Travel</li>
    <li>$50 - Deluxe Travel</li>
    <li>$75 - Luxury Travel</li>
    <li>$100 - Ultra Ordinary Travel</li>
    <li>$125 - Ultra Deluxe Travel</li>
    <li>$150 - Ultra Luxury Travel</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktravel/Srinagar" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>