<div *ngIf="donatedata" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" style="padding: 20px;" fxLayoutGap="10px">
    <mat-card *ngFor="let btd of donatedata" class="example-card">
        <mat-card-header class="carddata" > </mat-card-header>
            <mat-card-content style="font-weight: bold;">
            <li>Name of the Philanthropist: {{btd.name}}</li>
            <li>Amount Donated: {{btd.money | currency}}</li><br>
            <p>Philanthropist Details</p>
            <li>Phone Number: {{btd.phone}}</li>
            <li>E - Mail: {{btd.email}}</li>
            <li>Living Place: {{btd.lplace}}</li>
        </mat-card-content>
      </mat-card>
</div>