<h2 mat-dialog-title>Leh-Ladakh – The Biker’s Paradise</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>Kushok Bakula Rimpochee Airport in Leh is the airport connecting the region to other places by air.</p>

  <h3>By Rail</h3>
  <p>Jammu Tawi Railway Station (700 km from Ladakh) is the nearest rail head. From here, one can hire a cab or board 
      a JKSRTC bus to Ladakh.</p>

  <h3>By Road</h3>
  <p>The most popular means of reach Ladakh remains to be road. Travelers can go on a bike/jeep ride to the destination. Bike trips 
      from Delhi, Chandigarh, and Manali are most popular.</p>

  <h3>Attractions</h3>
  <p>Zanskar Valley, Pangong Tso Lake, Khardung-La Pass, Spituk Gompa, and Hemis National Park</p>

  <h3>Best time to visit</h3>
  <p>April to mid-May and mid-September to mid-October</p>
  
  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Travel</li>
    <li>$50 - Deluxe Travel</li>
    <li>$75 - Luxury Travel</li>
    <li>$100 - Ultra Ordinary Travel</li>
    <li>$125 - Ultra Deluxe Travel</li>
    <li>$150 - Ultra Luxury Travel</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktravel/Lehladakh" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>