<h2 mat-dialog-title>The Taj Mahal - Agra, India</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>The closest airport to the Taj Mahal is the Indira Gandhi International Airport in Delhi (DEL).</p>

  <h3>By Train</h3>
  <p>Nearest Railway Station to Taj Mahal: The closest railway station is Agra Cantt at a distance of 6 km. It is about 13 minutes 
    drive via an auto or cab from the railway station. Nearest Bus Stand to Taj Mahal: The Idgah Bus Station is the biggest and 
    most prominent bus terminal in Agra and is 6 km from the Taj Mahal.</p>

  <p>The Taj Mahal attracts a large number of tourists. UNESCO documented more than 2 million visitors in 2001, 
      which had increased to about 7–8 million in 2014. A two-tier pricing system is in place, with a significantly 
      lower entrance fee for Indian citizens and a more expensive one for foreigners. </p>
      
  <p>In 2018, the fee for Indian citizens was 50 INR, for foreign tourists 1,100 INR. Most tourists visit in the cooler months of October, November and 
      February. Polluting traffic is not allowed near the complex and tourists must either walk from parking areas or 
      catch an electric bus. The Khawasspuras (northern courtyards) are currently being restored for use as a new visitor 
      centre. In 2019, in order to address overtourism, the site instituted fines for visitors who stayed longer 
      than three hours.</p>

  <h3>Best time to visit</h3>
  <p>The grounds are open from 06:00 to 19:00 weekdays, except for Friday when the complex is open for prayers at the mosque between 
      12:00 and 14:00. The complex is open for night viewing on the day of the full moon and two days before and after,
       excluding Fridays and the month of Ramadan.</p>

  <p>The best time to visit is either at dawn or dusk when the atmosphere is brilliantly altered by the change in lighting. 
      If possible, try to catch a view of the Taj Mahal's reflection from the far bank of the Yamuna River-it makes for a 
      memorable (and safe) selfie.</p>

  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Tour</li>
    <li>$50 - Deluxe Tour</li>
    <li>$75 - Luxury Tour</li>
    <li>$100 - Ultra Ordinary Tour</li>
    <li>$125 - Ultra Deluxe Tour</li>
    <li>$150 - Ultra Luxury Tour</li>
  </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktour/Tajmahal" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>