<h2 mat-dialog-title>Kutch – The Most Beautiful Stretch Of White Desert</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>Bhuj Airport, 69 km away, is the nearest air connect.</p>

  <h3>By Rail</h3>
  <p>Bhuj Railway Station is 50 km away from Kutch.</p>

  <h3>By Road</h3>
  <p>Numerous state government & private buses ply between Mcleodganj and various cities of north India like Delhi, 
      Chandigarh, Dharamshala, etc. on a regular basis. Passengers can take a bus till Mcleodganj bus stand and 
      then hire a taxi.</p>

  <h3>Attractions</h3>
  <p>Prag Mahal, Kalo Dungar, Kutch Museum, Archaeological Museum, Mandvi Beach, White Desert, Aina Mahal, and more.</p>

  <h3>Best time to visit</h3>
  <p>November to February</p>
  
  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Travel</li>
    <li>$50 - Deluxe Travel</li>
    <li>$75 - Luxury Travel</li>
    <li>$100 - Ultra Ordinary Travel</li>
    <li>$125 - Ultra Deluxe Travel</li>
    <li>$150 - Ultra Luxury Travel</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktravel/Kutch" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>