<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">home</mat-icon>
      WhiN's Home
    </ng-template>
    <app-home></app-home>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">card_travel</mat-icon>
      Travel
    </ng-template>
    <app-travel></app-travel>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">tour</mat-icon>
      Tourism
    </ng-template>
    <app-tourism></app-tourism>
  </mat-tab>

  <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">night_shelter</mat-icon>
        Hospitality
      </ng-template>
      <app-hospitality></app-hospitality>
    </mat-tab>
</mat-tab-group>