<h2 mat-dialog-title>Binsar – Explore The Realms Of Wildlife</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>Kathgodam Railway Station, 119 km from Binsar, is the nearest railway head.</p>

  <h3>By Rail</h3>
  <p>The nearest railhead is Pathankot Railway Station (89 km away)</p>

  <h3>By Road</h3>
  <p>Buses connect the town with all major neighboring areas.</p>

  <h3>By Sea</h3>
  <p>NO WAY BY SEA!</p>

  <h3>Attractions</h3>
  <p>Zero Point, Pariyadeva Pashan, Mary Budden Estate, Binsar Wildlife Sanctuary, Bineshwar Mahadev Temple, and more.</p>

  <h3>Best time to visit</h3>
  <p>October to November</p>

  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Travel</li>
    <li>$50 - Deluxe Travel</li>
    <li>$75 - Luxury Travel</li>
    <li>$100 - Ultra Ordinary Travel</li>
    <li>$125 - Ultra Deluxe Travel</li>
    <li>$150 - Ultra Luxury Travel</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktravel/Binsar" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>