<div class="jumbo" style="background: linear-gradient(to bottom, #ffd740 0%, #ffffff 110%); color: #000000;"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="start center" 
    fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="100%">
      <h1 style="font-weight: bold; font-size: x-large; text-align: center;">WhiN's Travel, Tourism & Hospitality</h1>
      <p style="font-size: large; text-align: center;">
        WhiN’s rise has been led by the vision and the spirit of each one of its employees, for whom no 
        idea was too big and no problem too difficult. With untiring determination, WhiN has proactively 
        diversified its product offering, adding a variety of online and offline products and services.
        WhiN has stayed ahead of the curve by continually evolving its technology to meet the ever-changing 
        demands of the rapidly developing global travel market, steadily establishing itself as India’s leading 
        online travel, tourism and hospitality company.
      </p>
    </div>
</div>

<div class="jumbo" style="background: linear-gradient(to bottom, #40fff5 0%, #ffffff 110%);  color: #000000;">
  <h1 style="font-weight: bold; font-size: x-large; text-align: center;">About Us</h1>
    <p style="font-size: large; text-align: center;">
      Nurtured from the seed of a single great idea - to empower the traveller - WhiN is a Startup in India’s online travel industry. 
      Founded in the year 2020 by the team of Five Members, WhiN came to life to empower the Indian traveller with instant bookings and 
      comprehensive choices. The company initiated its journey serving the India travel market offering a range of best-value products
      and services powered by technology and round-the-clock customer support.
    </p>
</div>

<div class="jumbo" style="background: linear-gradient(to bottom, #ff0000 0%, #ffffff 110%);  color: #fdfdfd;">
  <h1 style="font-weight: bold; font-size: x-large; text-align: center;">Privacy</h1>
    <p style="font-size: large; text-align: center;">
      <span class="material-icons">warning</span>
      NOTE: We don't share your any tiny information even the Name with anyone. We don't approach you with any unofficial way. We call or email through the details ONLY which we mentioned in Contact Us Page. If you recieve any messages from
      any related share your OTP i.e., any confidential Information then immediately raise the complaint regarding this to Cyber-Crime Department.
      Office Number: 040-27852412
    </p>
</div>