<div class="jumbo"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="start center" 
    fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="100%">
      <h1 style="font-weight: bold;font-size: x-large; text-align: center;">The Hospitality</h1>
      <p style="font-size: large; text-align: center;">
        Despite its varied and multifarious character, the industry does have two main defining features. 
        One is its reliance on leisure and luxury activities and services rather than basic physical needs, 
        making it vulnerable during times when the economy is struggling. The other is its chief focus: 
        customer satisfaction.
        The hospitality Industry includes the broad category of fields including event planning, cruise line, 
        transportation, tourism industry, lodging and theme parts. It is a multi billion dollar industry. 
        The success of hospitality industry depends on the disposable income and leisure time. It consists of 
        multiple groups such as facility maintenance and direct operations.
      </p>
    </div>
</div>

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" style="padding-bottom: 10px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-around; align-items: center;">
  <div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Hyatt Hotels Corporation</mat-card-title>
    <mat-card-subtitle>Mumbai, India</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/hospitality/h1.webp">
  <mat-card-content>
    <p>
      Hyatt Hotels Corporation is an American multinational operator, owner, and franchiser of resorts, hotels, and vacation properties.
      Its different brands are Park Hyatt, Andaz, Hyatt Centric, Ziva, Hyatt Hotels, Residence Club etc.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogHyatt()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>InterContinental Hotels</mat-card-title>
    <mat-card-subtitle>Mumbai, India</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/hospitality/h2.webp">
  <mat-card-content>
    <p>
      InterContinental Hotels Group was founded in the year 2003. Its brands include Candlewood Suites, Crowne Plaza, 
      Holiday Inn, EVEN Hotels, Kimpton Hotels, Holiday Inn Express, Hotel Indigo, Hualuxe, and Resorts and Staybridge Suites.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogInter()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Marriott International</mat-card-title>
    <mat-card-subtitle>Bethesda, Maryland</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/hospitality/h3.webp">
  <mat-card-content>
    <p>
      Marriott International was founded in the year 1927. It is headquartered in Bethesda, Maryland. 
      Marriott was founded by John Willard Marriott in 1927 D.C. In 1993 when Marriott 
      Corporation split into Marriott International and Host Marriott Corporation.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogMarriott()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>
</div>

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" style="padding-bottom: 10px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-around; align-items: center;">
  <div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Radisson Blu Hotels</mat-card-title>
    <mat-card-subtitle>Hyderabad, India</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/hospitality/h4.webp">
  <mat-card-content>
    <p>
      Radisson Blu Hotels are one of the top hospitality companies in India. It is the group of hotels located 
      nationally and internationally. It has more than 280 hotels operating throughout the world. It was founded 
      in the year 1960.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogRadisson()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Shangri La Hotels & Resorts</mat-card-title>
    <mat-card-subtitle>Singapore</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/hospitality/h5.webp">
  <mat-card-content>
    <p>
      Shangri La Hotels & Resorts was founded in the year 1971. It is one of the best hospitality companies in India. 
      It is hong-kong based multinational hospitality company. The company has over 100 luxury hotels and resorts across the world.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogShangri()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Taj Hotels, Resorts & Palaces</mat-card-title>
    <mat-card-subtitle>Mumbai, Maharashtra</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/hospitality/h6.webp">
  <mat-card-content>
    <p>
      Taj Hotels Resorts & Places is headquartered in Nariman Point, Mumbai, Maharashtra. 
      It was founded by Jamshedji Tata. It is one of the India’s largest business conglomerates and top hospitality 
      companies in India.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogTaj()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>
</div>

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" style="padding-bottom: 10px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-around; align-items: center;">
  <div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>The Lalit Hotels</mat-card-title>
    <mat-card-subtitle>New Delhi, India</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/hospitality/h7.webp">
  <mat-card-content>
    <p>
      The Lalit Suri Hospitality Group is India’s leading hotel company. The branches of leading hospitality company is 
      located in all top Indian cities including New Delhi, Mumbai, etc. It is one of the top hospitality companies in India.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogLalit()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>The Leela Palace</mat-card-title>
    <mat-card-subtitle>Chennai, India.</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/hospitality/h8.webp">
  <mat-card-content>
    <p>
      The Leela Palaces, Hotels and Resorts is managed by Hotel Leela Venture Ltd. The company was established in Mumbai, 
      India in 1983. It is one of the top hospitality companies in India. Currently, The Leela group operates nine luxury palaces and hotels.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogLeela()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>The Oberoi</mat-card-title>
      <mat-card-subtitle>New Delhi, India.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../assets/images/hospitality/h9.webp">
    <mat-card-content>
      <p>
        The Oberoi, New Delhi, enjoys views of the UNESCO World Heritage Site of Humayun’s Tomb on one side and a calming 
        view of the forested golf course on the other. Our 5 star hotel is a storied landmark and a celebrated example of Oberoi’s reputation ...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="openDialogOberoi()" class="button">More...</button>
    </mat-card-actions>
  </mat-card>
  </div>
  </div>