<div class="jumbo"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="start center" 
    fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="100%">
      <h1 style="font-weight: bold;font-size: x-large; text-align: center;">The Travelling</h1>
      <p style="font-size: large; text-align: center;">
        Travel while you’re still young. Lose yourself to find your own self. Live like there’s no tomorrow. 
        And whatever you’ll explore today will last a lifetime with you. So, here’s a list of amazing tourist 
        places to visit in India before you turn 30. These are not just destinations but fun places that will 
        offer you with some crazy experiences of lifetime. What are you waiting for? It’s time to pack your 
        bags and set on a journey to scratch off a few destinations from your bucket list. It’s time to visit 
        these best tourist places in India to explore yourself in a journey.
      </p>
    </div>
</div>

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" style="padding-bottom: 10px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-around; align-items: center;">
  <div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Goa</mat-card-title>
    <mat-card-subtitle>The Official Party Hub</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel1.webp">
  <mat-card-content>
    <p>
      Unarguably, Goa has to be the amongst the first few dream places to visit in India in your twenties. 
      Young and energetic! Amazing nightlife, a variety of booze, beach shacks and dirt cheap prices – 
      Goa is ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogGoa()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Mcleodganj</mat-card-title>
    <mat-card-subtitle>Heaven Amidst The Hills</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel2.webp">
  <mat-card-content>
    <p>
      The majestic mountains can call tourists to experience the best of what nature has to offer at Mcleodganj
       – one of the most beautiful places in India. Triund offers a spectacular view ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogMcleodganj()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Srinagar</mat-card-title>
    <mat-card-subtitle>The Gem Of Kashmir</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel3.webp">
  <mat-card-content>
    <p>
      If you’re in your twenties, it’s time to add Kashmir to your list of best places to visit in India. 
      If there is heaven on earth, this it is! Experience its charismatic charm before the natural hits 
      and turmoil ... 
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogSrinagar()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>
</div>

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" style="padding-bottom: 10px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-around; align-items: center;">
<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Andaman</mat-card-title>
    <mat-card-subtitle>The Beach Haven</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel4.webp">
  <mat-card-content>
    <p>
      Scared of water? Never swam? Maybe it’s time to beat the fear out of you and dive into the deep sea 
      and overcome the fear of water and depths, ZNMD Style. Trust us, you’d be delighted at the sites ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogAndaman()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Leh-Ladakh</mat-card-title>
    <mat-card-subtitle>The Biker’s Paradise</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel5.webp">
  <mat-card-content>
    <p>
      Undoubtedly, Leh – Ladakh is on every travel enthusiasts list of dream places to visit in India before 
      they turn 30. Ride on the crazy winding roads, get stuck in the middle of nowhere, ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogLehLadakh()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Binsar</mat-card-title>
    <mat-card-subtitle>Explore The Realms Of Wildlife</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel6.webp">
  <mat-card-content>
    <p>
      Peace. Jungles. Heights. Chills. Wildlife. All you wildlife enthusiasts out there head to Binsar – 
      one of the rising tourist destinations in India located in the heart of Kumaoni region of Almora ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogBinsar()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>
</div>

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" style="padding-bottom: 10px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-around; align-items: center;">
  <div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Coorg</mat-card-title>
    <mat-card-subtitle>Walk Amidst The Coffee Plantations</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel7.webp">
  <mat-card-content>
    <p>
      Coorg simply cannot be skipped from the list of best and safe places to visit in India. A quick getaway 
      for many from Bangalore, this mesmerizing hill station in Karnataka is breathtakingly beautiful. And a ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogCoorg()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Kerala</mat-card-title>
    <mat-card-subtitle>Spice Garden of India & The Gods...</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel8.webp">
  <mat-card-content>
    <p>
      To all the nature lover’s out there. A trip to God’s own country is a must in your twenties for its 
      enchanting wilderness. Luscious green trees, pristine water, crazy wildlife experience – visit Kerala 
      for ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogKerala()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Kanatal</mat-card-title>
    <mat-card-subtitle>For The Best Camping Experiences</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel9.webp">
  <mat-card-content>
    <p>
      With this rising adventure spot that offers endless opportunities to enjoy thrilling activities clubbed 
      with one of the best camping experiences, weekends will no more be boring at escapes like Kanatal. And ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogKanatal()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>
</div>

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" style="padding-bottom: 10px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-around; align-items: center;">
  <div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Kasol</mat-card-title>
    <mat-card-subtitle>The Trekker’s Paradise</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel10.webp">
  <mat-card-content>
    <p>
      Here’s why every man should travel solo at least once in your life – Not only will you discover 
      a new you and find a direction for yourself, but you’d return with experiences of a lifetime. 
      And there’s ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogKasol()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Kutch</mat-card-title> 
    <mat-card-subtitle>The Most Beautiful Stretch ...</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel11.webp">
  <mat-card-content>
    <p>
      Kutch is a must visit place in India before you turn 30. Travel to the no man’s land, the seasonal 
      salt marsh amidst the famous Thar Desert during the kite festival where the sky comes alive with ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogKutch()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>

<div style="padding: 10px; outline: none;" tabindex="0" class="ng-star-inserted">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Bir Billing</mat-card-title>
    <mat-card-subtitle>The Paragliding Hub Of India</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/travel/travel12.webp">
  <mat-card-content>
    <p>
      Rising to fame post hosting the first ever paragliding world cup, Bir Billing soon caught the 
      attention of adventure enthusiasts across the country. Comprising of more than ten paragliding ...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogBirBilling()" class="button">More...</button>
  </mat-card-actions>
</mat-card>
</div>
</div>