<h2 mat-dialog-title>The Ellora Caves - Aurangabad, India</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>Aurangabad Airport is 35 km from the Ellora Caves. It connects Mumbai, Delhi and Hyderabad.</p>

  <h3>By Road</h3>
  <p>Central Bus Stand in Aurangabad is 27 km from the Ellora Caves.</p>

  <h3>By Rail</h3>
  <p>Aurangabad Railway Station is 28 km from the Ellora Caves. The following are a few trains running to Aurangabad: Sachkhand Express 
      12716, Tapovan Express 17617, Ajanta express 17063.</p>

  <h3>History of Ellora Caves</h3>
  <p>Built during 600 to 1000 CE, Ellora Caves lie in the Sahyadri hills in Aurangabad and is a 2-hour drive from the Ajanta Caves. 
      The Ellora Caves comprise Hindu, Buddhist and Jain temples and over a 100 caves with only 34 open to the public excavated from 
      the basalt cliffs in the Charanandari hills. Ellora Caves served as lodgings to the travelling Buddhist and Jain monks besides 
      being a site for the trade route. There are 17 Hindu caves, 12 Buddhist and five Jain caves with deities, carvings and even 
      monasteries depicting the mythology of each religion. These caves constructed near each other stand for the harmony and solidarity 
      among all faiths and beliefs. A part of the Hindu and Buddhist Caves were built during the Rashtrakuta dynasty, and the Jain Caves 
      were built by the Yadav dynasty. It is not yet established as to which caves were built first - the Hindu or the Buddhist. 
      Based on the archaeological evidence found at various sites it was deduced that there were essentially three major construction 
      periods for the Ellora caves: early Hindu period from 550 to 600 CE, Buddhist period from 600 to 730 CE, and the final phase, 
      the Jain and Hindu period lasting from 730 to 950 CE.</p>

    <h3>Ticket Information</h3>
    <p>
        <b>INDIAN Visitor:</b>
            <li>Total ₹ 35 | ₹ 35 - by ASI as Entry fee & ₹ 0 - by ADI as Toll tax</li>
        <b>FOREIGNER Visitor:</b>
            <li>Total ₹ 550 | ₹ 550 - by ASI as Entry fee & ₹ 0 - by ADI as Toll tax</li>
        <b>SAARC Visitor:</b>
            <li>Total ₹ 35 | ₹ 35 - by ASI as Entry fee & ₹ 0 - by ADI as Toll tax</li>
        <b>BIMSTEC Visitor:</b>
            <li>Total ₹ 35 | ₹ 35 - by ASI as Entry fee & ₹ 0 - by ADI as Toll tax</li>
    </p>

    <p>At Agoda.com the Lowest Booking per day starts from
        <li>$25 - Ordinary Tour</li>
        <li>$50 - Deluxe Tour</li>
        <li>$75 - Luxury Tour</li>
        <li>$100 - Ultra Ordinary Tour</li>
        <li>$125 - Ultra Deluxe Tour</li>
        <li>$150 - Ultra Luxury Tour</li>
      </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktour/ElloraCaves" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>