<h2 mat-dialog-title>Bir Billing – The Paragliding Hub Of India</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>Kangra airport in Gaggal happens to be the nearest airport located at a distance of about 67 kilometers from Bir.</p>

  <h3>By Rail</h3>
  <p>Pathankot is the nearest railway station to Bir Billing located at a distance of about 140 kilometers.</p>

  <h3>By Road</h3>
  <p>Located in the heart of Himachal, Bir Billing is accessible by road as many state-run and private buses run from the nearby 
      cities of Delhi, Chandigarh, Manali, Shimla, and more.</p>

  <h3>Attractions</h3>
  <p>Baijnath Shiv Temple, Billing Valley, Chamunda Devi Temple, Shiva Shrine, Ahju Fort, and more.</p>

  <h3>Best time to visit</h3>
  <p>April to June</p>

  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Travel</li>
    <li>$50 - Deluxe Travel</li>
    <li>$75 - Luxury Travel</li>
    <li>$100 - Ultra Ordinary Travel</li>
    <li>$125 - Ultra Deluxe Travel</li>
    <li>$150 - Ultra Luxury Travel</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktravel/Birbilling" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>