<h2 mat-dialog-title>The Red Fort - New Delhi, India</h2>
<mat-dialog-content class="mat-typography">

  <h3>History</h3>
  <p>The Qila-e-Mubarak or the blessed fort was home to Shah Jahan the Mughal Emperor and the grandson of Akbar, the greatest ruler 
      the Mughal Empire ever saw. Not so different from Akbar, and having taken enough cues from him, Shah Jahan chartered his own 
      course with élan. He was responsible for erecting some of the glorious structures of the time which are still identified as 
      the most exquisite known for their sheer magnificence and the arduous journeys behind them. The Red Fort came to the being 
      after Shah Jahan moved his capital from Agra and left his residence at the Agra Fort. He constructed a new walled city – 
      Shahjahanbad naming it after himself and built a new residence, the Red Fort. It took a decade to complete the Red Fort which 
      served as a residence to the Mughal rulers for nearly 200 years. The chief architect of the Red Fort was Ustad Ahmed Lahauri 
      who started the construction in 1638 and completed in 1648.</p>

  <h3>Red Fort Timings & Entry Fee</h3>
  <p>
    Red Fort can be visited on all days except Mondays. The Red Fort timings are 9.30 am to 4.30 pm. The best time to visit is 
    during October to February as this is when Delhi can be toured in its best form. You can come here post 6 in the evening for 
    the light and sound show available in two languages: English and Hindi. The visiting hours for Red Fort for the light and sound 
    show vary according to months and the language chosen. Check for the timings before you plan to go for the same. Red Fort ticket 
    price for Indians is Rs 35 and for foreigners it is Rs 500. The Red Fort entry ticket for the Light and Sound show is Rs 60 for 
    adults and Rs 20 for children. The weekend ticket rate will cost you Rs 80 for adults and Rs 30 for kids.
      <li>
        Nearest Metro Station - Chandni Chowk Metro Station
      </li>
      <li>
        Nearest Railway Station - Old Delhi Railway Station
      </li>
      <li>
        Nearest Bus Stand - Kashmiri Gate Bus Station
      </li>
      <li>
        Nearest Airport - Indira Gandhi International Airport
      </li>
  </p>
  <h3>Best Time to Visit Red Fort</h3>
  <p>
    In the recent development this mighty rampart under the government’s ‘Adopt a Heritage’ scheme has been adopted by a 
    corporate house which will be responsible to manage and upkeep the Red fort for next five years. Although the move 
    comes as a rude awakening for all of us but if it preserves the national pride and encourages tourism then so be it. 
    The glories of the past should remain and that’s all that matters.
      <li>
        Monsoon - August To September
      </li>
      <li>
        Summer - Starts in early April and peak in May & Temperature is 32°C (avg)
      </li>
      <li>
        Winter - Starts in November and peaks in January & Avg Temperature is 12 to 13°C
      </li>
      <li>
        Recommended Season to Visit - November to March
      </li>
  </p>

  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Tour</li>
    <li>$50 - Deluxe Tour</li>
    <li>$75 - Luxury Tour</li>
    <li>$100 - Ultra Ordinary Tour</li>
    <li>$125 - Ultra Deluxe Tour</li>
    <li>$150 - Ultra Luxury Tour</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktour/Redfort" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>