<div *ngIf="bookhospitalitydata" fxLayout.md="row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" style="padding: 20px;" fxLayoutGap="10px">
    <mat-card *ngFor="let btd of bookhospitalitydata" class="example-card">
        <mat-card-header class="carddata" > </mat-card-header>
            <mat-card-content style="font-weight: bold;">
            <p>The Hospitality Place: {{btd.place}}</p>
            <li>Name of the Guest: {{btd.name}}</li>
            <li>Date of Arrival: {{btd.doa}}</li>
            <li>Date of Departure: {{btd.dod}}</li>
            <li>Amount Paid is {{btd.money | currency}}</li><br>
            <p>Guest Details</p>
            <li>Phone Number: {{btd.phone}}</li>
            <li>E - Mail: {{btd.email}}</li>
            <li>Living Place: {{btd.lplace}}</li>
        </mat-card-content>
      </mat-card>
</div>