<h2 mat-dialog-title>Agra Fort - Agra, India</h2>
<mat-dialog-content class="mat-typography">

  <h3>History of Agra Fort</h3>
  <p>Agra Fort was constructed in its current form by Akbar, the third Mughal emperor of India, in the 16th century. However, its 
    existence can be traced as far back as the 11th century in historical documents. When Emperor Akbar decided to strategically 
    establish a new capital in Agra in 1558, the fort had already gone through many occupations and wars. At the time, it was a 
    brick fort known as Badalgarh, which originally belonged to Rajput kings. The remains of the fort were in poor condition, and 
    Akbar had it extensively rebuilt out of red sandstone. The work started in 1565 and was completed eight years later in 1573. 
    Agra Fort is considered to be the first grand fort of the Mughals. It was designed primarily as a military installation, with 
    a colossal 70-foot high wall that stretched for more than 2 kilometers (1.25 miles) around 94 acres of land. Emperor Shah Jahan, 
    Akbar's grandson, added fancy white marble palaces and mosques to the fort during his reign from 1628 to 1658. (A big fan of 
    white marble, he also used it for the Taj Mahal). Shah Jahan's son, Aurangzeb, further expanded the fort by making an outer wall 
    with a deep moat. The fort reportedly even has a secret tunnel for the royal family to escape through, although it has been sealed 
    by the Indian government.  It's said that Emperor Akbar was inspired by Gwalior Fort, in Madhya Pradesh, and aspects of it were 
    incorporated into Agra Fort. Shah Jahan later modeled the Red Fort in Delhi on Agra Fort, when he stated making his new capital 
    there in 1638. Despite the move to Delhi, Shah Jahan continued to spend time at Agra Fort. He even died in the fort, after 
    power-hungry Aurangzeb imprisoned him there and took over the throne. Agra Fort declined, along with the Mughal dynasty, after 
    Aurangzeb passed away in 1707. The Marathas wanted to free India from the Mughals, and it wasn't long before they invaded the 
    fort and seized it. Various parties continued to fight over the fort for the next hundred or so years, until the British took 
    control of it in 1803. The Indian Rebellion of 1857 added another twist to the fort's turbulent narrative. More than 5,000 
    people (about 2,000 of whom were British) shut themselves inside the fort for three months to escape the mutiny and unrest. 
    The rebels attacked but ultimately were defeated. What's interesting to note is that this battle at Agra Fort is portrayed in 
    Sir Arthur Conan Doyle's second Sherlock Holmes mystery, The Sign of the Four. After India attained independence in 1947, 
    the British handed the fort over to the Indian government. The Indian Army now uses most of it.</p>

  <h3>By Air</h3>
  <p>Agra has its own airport which is directly connected with Delhi, Varanasi, and Khajuraho. Nearby places connected by national 
    and international airports are Delhi, Jaipur, Lucknow, and Gwalior. Many national and international flights arrive to and depart 
    from these airports.</p>
    <h3>The distance of Agra from Delhi, Jaipur, Gwalior, and Lucknow are as follows</h3>
            <li>Agra to Delhi – 203km</li>
            <li>Agra to Jaipur – 232km</li>
            <li>Agra to Lucknow – 363km</li>
            <li>Agra to Gwalior – 118km</li>

  <h3>By Road</h3>
  <p>Agra is connected to Delhi, Jaipur, Lucknow and other nearby cities by road. Tourists can either book taxis or take a bus to 
    reach Agra.</p>
    <h3>The major bus stands of Agra are </h3>
    <li>Idgah Bus Stand</li>
    <li>Taj Depot</li>
    <li>Ford Depot</li>
    <li>Inter State Bus Terminal</li>

  <h3>By Rail</h3>
  <p>Agra has three main railway stations which are Agra Cantt, Agra Fort, and Raja Ki Mandi which are connected to all the major 
    cities of India. Idgah and Agra City are two other railway stations but very few trains stop here. Many premium, superfast, mail 
    and express trains pass through these railway stations. Premium trains like Rajdhani, Shatabdi, and Double-Decker express connects 
    nearby as well as distant places to Agra.</p>

  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Tour</li>
    <li>$50 - Deluxe Tour</li>
    <li>$75 - Luxury Tour</li>
    <li>$100 - Ultra Ordinary Tour</li>
    <li>$125 - Ultra Deluxe Tour</li>
    <li>$150 - Ultra Luxury Tour</li>
  </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktour/AgraFort" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>