<h2 mat-dialog-title>Kerala – The Magical God’s Own Country & Spice Garden of India</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>Kerala has three main airports – Calicut International Airport, Cochin International Airport, and Trivandrum International 
      Airport. These airports connect Kerala with different cities across the world, such as Delhi, Mumbai, Chennai, Muscat, 
      and Dubai.</p>

  <h3>By Rail</h3>
  <p>Thiruvananthapuram Central railway station, Ernakulam Junction railway station, and Kollam Junction railway station are three 
      major rail heads of Kerala. These stations connect the state with cities and towns across India.</p>

  <h3>By Road</h3>
  <p>Numerous state government & private buses ply between Mcleodganj and various cities of north India like Delhi, 
      Chandigarh, Dharamshala, etc. on a regular basis. Passengers can take a bus till Mcleodganj bus stand and 
      then hire a taxi.</p>

  <h3>Attractions</h3>
  <p>
    <li>Alleppey: Alappuzha Beach, Krishnapuram Palace, Kumarakom bird sanctuary, Marari Beach, Revi Karunakaran Museum, Marari Beach, 
      Punnamada Lake, Pathiramanal, and Sri Krishna Temple in Ambalappuzha</li>
    <li>Munnar: TATA Tea Museum, Meesapulimala, Blossom Park, Pothamedu ViewPoint, Attukal Waterfalls, Cheeyappara Waterfalls, Kundala Lake, 
        Mattupetty Dam, Anamudi, and Eravikulam National Park</li>
    <li>Kumarakom: Kumarakom Bird Sanctuary, Kumarakom Backwaters, Aruvikkuzhi waterfall, Thirunakkara Mahadeva Temple, Vembanad Lake, Kumarakom Beach, 
        and Pathiramanal Island</li>
    <li>Wayanad: Meenmutty Waterfalls, Chembra Peak, 9 Hairpin Curves, Muthanga Wildlife Sanctuary, Ekkadal Caves, Bathery Jain Temple, Neelimala View Point, 
        and Pookot Lake</li>
    <li>Thekkady: Periyar Wildlife Sanctuary, Mangla Devi Temple, Abraham’s Spice Garden, Murikkady, Kadathanadan Kalari Centre, Chellarkovil, Kumily, 
        and Deepa World Spice & Ayurvedic Garden</li>
  </p>

  <h3>Best time to visit</h3>
  <p>November to January and June to August</p>
  
  <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Travel</li>
    <li>$50 - Deluxe Travel</li>
    <li>$75 - Luxury Travel</li>
    <li>$100 - Ultra Ordinary Travel</li>
    <li>$125 - Ultra Deluxe Travel</li>
    <li>$150 - Ultra Luxury Travel</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktravel/Kerala" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>