<h2 mat-dialog-title>The Holy City of Varanasi - Varanasi, Uttar Pradesh</h2>
<mat-dialog-content class="mat-typography">

  <h3>History</h3>
  <p>Varanasi is a city in Northern India also known as Benares or Kashi. The city is one of the oldest continuously inhabited 
      cities in the world and is not only the spiritual capital of India, but also the holiest of seven sacred cities in Hinduism, 
      and it played a significant role in the development of Buddhism.</p>

  <h3>By Train</h3>
  <p>The Varanasi railway junction and Kashi railway station are the two main railheads in Varanasi. Travellers can make 
      their travel bookings till either of these two stations. Both these railway stations are well linked with prime Indian 
      cities via extensive rail network.</p>

  <h3>The Ganges</h3>
  <p>The Ganges, much like the city of Varanasi, is said to be one of the holiest places in the world. People believe that bathing 
      in the Ganges washes away sins and cleanses you of all evil, and when visiting, you’ll see hundreds of people every morning 
      bathing along the river.</p>

   <p>Cremations are also a tradition along the Ganges River, as Hindus believe cremation on the banks of the river frees 
      the soul from the cycle of death and rebirth. Due to the population density and belief in this tradition, the famous 
      cremation ghat in Varanasi operates 24 hours a day, seven days a week.</p>

   <h3>The Ganges</h3>
   <p>The Ganges, much like the city of Varanasi, is said to be one of the holiest places in the world. People believe that bathing 
      in the Ganges washes away sins and cleanses you of all evil, and when visiting, you’ll see hundreds of people every morning 
      bathing along the river.</p>
     
   <p>Cremations are also a tradition along the Ganges River, as Hindus believe cremation on the banks of the river frees 
      the soul from the cycle of death and rebirth. Due to the population density and belief in this tradition, the famous 
      cremation ghat in Varanasi operates 24 hours a day, seven days a week.</p>

   <h3>The Ghats</h3>
   <p>Scindia Ghat located nearby the Manikarnika Ghat, Schidia is known for its particular site of interest—the partially submerged 
       Shiva temple at the edge of the water that sunk during the construction of the ghat in 1830.</p> 
         
   <p>Manikarnika Ghat is the popular cremation ghat in Varanasi. Best seen at a respectful distance from a boat on the water, 
       you’ll come face to face with death at this ghat, which will leave you with a strange feeling — one that almost makes you 
       appreciate the traditions and celebrations of Hinduism even more.</p>

   <p>Dashashwamedh Ghat is one of the oldest and important ghats and is where the famous Ganga Aarti ceremony takes place every 
       evening. A great place for people watching, this ghat is constantly lined with beggars, sellers, pilgrims, and everything 
       in between.</p>      

   <p>As you take one of the popular boat rides along the shore, you’ll get a better view of all the ghats from the water. 
       Assi Ghat is where the Ganges meets river Assi, and although it is not as popular for tourists and visitors, it is 
       an important ghat for Hindus, as pilgrims bathe here before worshiping Lord Shiva.</p>

   <h3>Ganga Aarti</h3>
   <p>The ceremony starts after sunset (around 6 p.m. in the winter and 7 p.m. in the summer), and getting there early to get 
       yourself a boat with a good spot or the perfect place along the shore is key. The aarti takes place facing the river 
       where the lamps are lit and circled around by the priests, all while being accompanied by chanting or songs that praise 
       Mother Ganga. You may find this ritual so fascinating that you’ll want to attend every night while in Varanasi.</p>
    
   <h3>The Ganges</h3>
   <p>The Ganges, much like the city of Varanasi, is said to be one of the holiest places in the world. People believe that bathing 
      in the Ganges washes away sins and cleanses you of all evil, and when visiting, you’ll see hundreds of people every morning 
      bathing along the river.</p>

   <h3>The Ganges</h3>
   <p>The Ganges, much like the city of Varanasi, is said to be one of the holiest places in the world. People believe that bathing 
      in the Ganges washes away sins and cleanses you of all evil, and when visiting, you’ll see hundreds of people every morning 
      bathing along the river.</p>

   <h3>The Ganges</h3>
   <p>The Ganges, much like the city of Varanasi, is said to be one of the holiest places in the world. People believe that bathing 
      in the Ganges washes away sins and cleanses you of all evil, and when visiting, you’ll see hundreds of people every morning 
      bathing along the river.</p>

      <p>At Agoda.com the Lowest Booking per day starts from
        <li>$25 - Ordinary Tour</li>
        <li>$50 - Deluxe Tour</li>
        <li>$75 - Luxury Tour</li>
        <li>$100 - Ultra Ordinary Tour</li>
        <li>$125 - Ultra Deluxe Tour</li>
        <li>$150 - Ultra Luxury Tour</li>
      </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktour/Varanasi" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>