<h2 mat-dialog-title>The Lalit - New Delhi, India</h2>
<mat-dialog-content class="mat-typography">

  <h3>About The Lalit New Delhi</h3>
  <p>An imposing hi-rise particularly well known for its dining and nightlife, The Lalit New Delhi is located in central Delhi, just one kilometre's walk from the greenery of Central Park. The 461 rooms and suites boast a contemporary design. hardwood floors, and amenities such as large flat-screen TVs, entertainment systems, free Wi-Fi, and minibars. A walk-in closet and work desk allow guests to keep both their clothes and papers in order. Guests here can break a sweat in the gym, enjoy pampering at Rejuve Spa, and feast their eyes on works in Delhi's only hotel art gallery. If none of this appeals, soaking up the sun on the pool terrace or shopping in the luxury arcade also await. One of three restaurants, Baluchi offers Indian curries in a sophisticated venue. The pastry chef at The Lalit Boulangerie creates delectable pastries, and 24/7 Bar mixes drinks without considering the time of day. Delhi's iconic Red Fort is about a six-kilometre drive north of The Lalit New Delhi.</p>

    <h3>All Amenities</h3>
    <p>Hotel Facilities
	<li>Hotel facilities</li>
	<li>24-hour reception</li>
	<li>24-hour room service</li>
	<li>Airport shuttle</li>
	<li>Beach / Sun umbrellas</li>
	<li>Business centre</li>
	<li>Car park</li>
	<li>Concierge</li>
	<li>Conference rooms</li>
	<li>Deck chairs / Sun loungers</li>
	<li>Direct beach access</li>
	<li>Express check-in / out</li>
	<li>Free WiFi in lobby</li>
	<li>Gym</li>
	<li>Hotel bar</li>
	<li>Laundry service</li>
	<li>Lift</li>
	<li>Non-smoking rooms</li>
	<li>Outdoor swimming pool</li>
	<li>PC with internet</li>
	<li>Pets allowed</li>
	<li>Porter service</li>
	<li>Restaurant</li>
	<li>Room service</li>
	<li>Terrace</li>
	<li>Towels at the pool / beach</li>
	<li>Washing machine</li>
	<li>Wellness centre / Spa</li>
	<li>WiFi in lobby</li>
    </p>
    <p>Room facilities
	<li>Air conditioning</li>
	<li>Bathroom with bathtub</li>
	<li>Bathroom with shower</li>
	<li>Central heating</li>
	<li>Cosmetic mirror</li>
	<li>Desk</li>
	<li>Electric kettle</li>
	<li>Hairdryer</li>
	<li>Internet</li>
	<li>Ironing board</li>
	<li>Room safe</li>
	<li>Telephone</li>
	<li>Television</li>
	<li>WiFi in rooms</li>
    </p>
    <p>Wellness / Spa
	<li>Beauty salon</li>
	<li>Massage</li>
	<li>Sauna</li>
	<li>Steam room</li>
	<li>Whirlpool / Hot tub</li>
    </p>
    <p>Accessibility
	<li>Accessible parking</li>
	<li>Wheelchair accessible</li>
    </p>
    <p>For children
	<li>Child / Baby cot</li>
	<li>Childcare / Babysitting</li>
    </p>
    <p>At Agoda.com the Lowest Booking starts from
	<li>$150 - Ordinary Space per Night</li>
	<li>$200 - Deluxe Space per Night</li>
	<li>$250 - Luxury Space per Night</li>
	<li>$300 - Ultra Ordinary Space per Night</li>
	<li>$350 - Ultra Deluxe Space per Night</li>
	<li>$400 - Ultra Luxury Space per Night</li>
    </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/bookhospitality/TheLalit" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>