<h2 mat-dialog-title>Kasol – The Trekker’s Paradise</h2>
<mat-dialog-content class="mat-typography">
  <h3>By Air</h3>
  <p>Bhuntar Domestic Airport (31 km away) is the nearest flight connect.</p>

  <h3>By Rail</h3>
  <p>Pathankot (296 km away) is the nearest rail head.</p>

  <h3>By Rail</h3>
  <p>HRTC (Himachal Road Transport Corporation) runs regular buses from Delhi, Haryana, & Punjab and other Himachal 
  cities like Pathankot, Shimla, Kangra, Solan, & Dharamsala.</p>

  <h3>Attractions</h3>
  <p>Kheerganga peak, Malana village, Parvati river, Manikaran Sahib gurudwara, Jari, Bhuntar, and more.</p>

  <h3>Restaurants</h3>
  <p>The Evergreen, Moon Dance Cafe</p>

  <h3>Best time to visit</h3>
  <p>October to June</p>

    <p>At Agoda.com the Lowest Booking per day starts from
    <li>$25 - Ordinary Travel</li>
    <li>$50 - Deluxe Travel</li>
    <li>$75 - Luxury Travel</li>
    <li>$100 - Ultra Ordinary Travel</li>
    <li>$125 - Ultra Deluxe Travel</li>
    <li>$150 - Ultra Luxury Travel</li>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button class="button" mat-raised-button routerLink="/booktravel/Kasol" [mat-dialog-close]="true" cdkFocusInitial>Book Now</button>
</mat-dialog-actions>